*{
    margin: 0;
}

.section-1{
    background-color: #1f2937;
    color: white;
    height: 600px;
    margin-bottom: 50px;
    
  
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

.container-1{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 80px 200px;

}

.content{
    width: 350px;
    height: 200px;
    
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-family: sans-serif;
}

h1{
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    font-family: sans-serif;
}

button{
    background-color: rgb(78, 119, 234);
    border: none;
    color: #f9faf8;
    padding: 8px 35px;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bolder;
}

p{
    margin-bottom: 12px;
    font-family: sans-serif;
}

img{
    min-width: 130px;
}

/* Section 02 */


.section-2{
    height: 250px;
    display: flex;
    gap: 80px;
    padding: 50px 259px;    

}

.box{
    width: 180px;
    height: 180px;
    border: 4px solid #3882f6;
    border-radius: 12px;   
    margin-bottom: 10px;
}

.container-2{
    width: 190px;
    height: 250px;

}

.container-2 p{
    text-align: center;
}

h2{
    font-size: 36px;
    font-weight: 600;
    font-family: sans-serif;
}

/* section 03 */

.section-3{
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 300px;
    
}

.quote{
    padding: 50px 100px;

}

.quote p{
    font-size: 36px;
    font-weight: lighter;
}


/* section 04 */

.section-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-3{
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    flex: 1 1 150px;
    margin: 80px 200px;
    padding: 30px 150px;
    border-radius: 5px;
}

.sign-up{
    border: 3px solid white;
    padding: 0px 35px;
    font-size: 15px;
}

.cta p{
    font-family: sans-serif;
    color: white;
    line-height: 50%;
}

/* Footer */

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 30px;
}

.footer p{
    color: white;
}
    